title = "Профиль пользователя"
url = "/user/profile"
layout = "index"
description = "Страница профиля пользователя"
is_hidden = 0

[session]
security = "all"

[builderList userAdverts]
modelClass = "Grekov\AdvertsList\Models\Advert"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "Вы ещё не создали ни одного объявления"
detailsPage = "edit-advert"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = userAdverts.records %}
{% set displayColumn = userAdverts.displayColumn %}
{% set noRecordsMessage = userAdverts.noRecordsMessage %}
{% set detailsPage = userAdverts.detailsPage %}
{% set detailsKeyColumn = userAdverts.detailsKeyColumn %}
{% set detailsUrlParameter = userAdverts.detailsUrlParameter %}

<div class="profile">

  <div class="profile-head">
    <h1 class="profile__title">Личный кабинет</h1>
    <a class="btn btn-outline-primary profile__add-link" href="{{ 'create-advert'|page }}">Создать объявлнение</a>
  </div>
  <!-- /.profile-head -->

  <hr>

  <div class="profile-hero">
    <h2 class="profile-hero__title">Ваши объявлнения</h2>


    <ul class="profile-hero__list">

      {% for record in records if user.email == record.author %}

      <li class="profile-hero__item">

        <div class="row">

          <div class="col-sm-8">

            <div class="profile-hero__info">
              <span class="timehead">
                {{ record.updated_at|date('Создано d-m-Y, в H:i') }}
              </span> <!-- /.timehead -->

              <div class="profile-hero__item-text">

                {% if record.type == 'vip' %}
                <img src="{{ 'assets/images/vip.png'|theme }}" alt="vip" class="id">
                {% endif %}

                {{ record.text|raw }}
              </div> <!-- /.profile-hero__item-text -->


              {% if record.attachimage1 %}
              <div class="advert__imgs-wrap count_imgs-parent">
                <a class="advert__image" href="{{ record.attachimage1.path }}" data-toggle="lightbox" data-type="image">
                  <img src="{{ record.attachimage1.path }}" alt="Фото1">
                </a>
                <!-- Изображение первое -->

                {% if record.attachimage2 %}
                <a class="advert__image" href="{{ record.attachimage2.path }}" data-toggle="lightbox" data-type="image">
                  <img src="{{ record.attachimage2.path }}" alt="Фото1">
                </a>
                {% endif %}
                <!-- Изображение второе -->
                {% if record.attachimage3 %}
                <a class="advert__image" href="{{ record.attachimage3.path }}" data-toggle="lightbox" data-type="image">
                  <img src="{{ record.attachimage3.path }}" alt="Фото1">
                </a>
                {% endif %}
                <!-- Изображение третье -->

              </div>
              {% endif %}
              <!-- Изображения к объявлению -->


              <span class="advert-id">ID: {{record.id}}</span>
              <!-- /.advert-id -->
            </div>
            <!-- /.profile-hero__info -->

          </div>
          <!-- /.col-md-8 -->


          <div class="col-sm-4">
            <div class="profile-hero__status">
              <p>
                Объявление:
                {% if record.state == 'on' %}
                <span class="badge badge-success">активно</span> <!-- /.badge-success -->
                {% else %}
                <span class="badge badge-danger">неактивно</span> <!-- /.state -->
                {% endif %}
              </p>
              <p>
                Выделено:
                {% if record.highlight == 'on' %}
                <span class="badge badge-success">да</span> <!-- /.badge-success -->
                {% else %}
                <span class="badge badge-danger">нет</span> <!-- /.state -->
                {% endif %}
              </p>
              <p>
                <!-- Здесь посчитать количество картинок. Если изображений нет, то "0". Если есть, то их количество. -->
                Изображений добавлено: <span class="badge badge-primary count_imgs">{{record.imageCount}}</span> <!-- /.count_imgs -->
              </p>
              <p>
                <!-- Текст в соответствии с категорией объявления -->
                Категория:
                {% if record.category == 'categories-ona-on' %}
                <span class="state state-category">Девушка ищет парня</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-on-ona' %}
                <span class="state state-category">Парень ищет девушку</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-on-on' %}
                <span class="state state-category">Парень ищет парня</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-ona-ona' %}
                <span class="state state-category">Девушка ищет девушку</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-free' %}
                <span class="state state-category">Досуг в Иркутске</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-services' %}
                <span class="state state-category">Услуги массажа</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-family' %}
                <span class="state state-category">Семейные пары</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-flirt' %}
                <span class="state state-category">Свободные отношения</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-realty' %}
                <span class="state state-category">Недвижимость</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-arenda' %}
                <span class="state state-category">Аренда квартир на сутки</span> <!-- /.state-category -->
                {% elseif record.category == 'categories-work' %}
                <span class="state state-category">Работа в Иркутске</span> <!-- /.state-category -->
                {% else %}
                <span class="d-block badge badge-danger">Ошибка: 404 — Not Found</span> <!-- /.badge-danger -->
                {% endif %}
              </p>
            </div> <!-- /.profile-hero__status -->

            <hr>

            <a class="btn btn-success btn-sm profile-hero__action"
              href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">Редактировать
              объявлнение</a>
            <!-- /.profile-hero__action -->
          </div>
          <!-- /.col-md-4 -->

        </div> <!-- /.row -->

      </li> <!-- /.profile-hero__item -->

      {% else %}
      <li class="alert alert-danger advert-none">
        <p>{{ noRecordsMessage }} <span data-toggle="tooltip" data-placement="right"
            title="Самое время создать">&uarr;</span></p>
      </li>
      {% endfor %}

    </ul>
    <!-- /.profile-hero__list -->
  </div>
  <!-- /.profile-hero -->

</div>
<!-- /.profile -->