<div class="titlefoot">
	<a rel='nofollow' class="btn btn-light btn-sm" href="{{ 'index'|page }}">На главную</a>
</div>

<footer class="footer">
	<div class="page-desc">
		{% if this.page.id == 'categories-on-ona' %}
			{% component 'contenteditor' file="page-desc/on-ona.htm" %}

		{% elseif this.page.id == 'categories-ona-on' %}
			{% component 'contenteditor' file="page-desc/ona-on.htm" %}

		{% elseif this.page.id == 'categories-on-on' %}
			{% component 'contenteditor' file="page-desc/on-on.htm" %}

		{% elseif this.page.id == 'categories-ona-ona' %}
			{% component 'contenteditor' file="page-desc/ona-ona.htm" %}

		{% elseif this.page.id == 'categories-free' %}
			{% component 'contenteditor' file="page-desc/free.htm" %}

		{% elseif this.page.id == 'categories-services' %}
			{% component 'contenteditor' file="page-desc/services.htm" %}

		{% elseif this.page.id == 'categories-family' %}
			{% component 'contenteditor' file="page-desc/family.htm" %}

		{% elseif this.page.id == 'categories-flirt' %}
			{% component 'contenteditor' file="page-desc/flirt.htm" %}

		{% elseif this.page.id == 'categories-realty' %}
			{% component 'contenteditor' file="page-desc/realty.htm" %}

		{% elseif this.page.id == 'categories-arenda' %}
			{% component 'contenteditor' file="page-desc/arenda.htm" %}

		{% elseif this.page.id == 'categories-work' %}
			{% component 'contenteditor' file="page-desc/work.htm" %}
		{% endif %}
	</div>
	<!-- /.page-desc -->
	<hr class="my-3">

	<div class="admin">
		Администратор:
		<b>info@irksmsex.ru</b>
	</div>
	<p class="copy">Знакомства в&nbsp;Иркутске</p>
</footer>
