==
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>
		{% if this.page.title %}
		{{ this.page.title }}
		{% else %}
		Сайт знакомств irksmsex.ru
		{% endif %}
	</title>
	<meta http-equiv="content-type" content="charset=utf-8">
	<meta name="keywords" content="знакомства для девушек, парни иркутска, ищу парня, ищу мужчину">
	<meta name="description" content="Размещение объявлений для поиска девушек">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">

	{% styles %}

	<!-- Bootstrap -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Lightbox Bootstrap css -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">

	<link rel="stylesheet" href="{{ 'assets/css/style.min.css'|theme }}">
	<link rel="apple-touch-icon" type="image/png" sizes="120x120"
		href="{{ 'assets/images/favicon/apple-touch-icon.png'|theme }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon/favicon-32x32.png'|theme }}">
	<link rel="mask-icon" href="{{ 'assets/images/favicon/safari-pinned-tab.svg'|theme }}" color="#5bbad5">

</head>

<body>

	{% partial 'user-status' %}

	{% partial 'header' %}

	{% partial 'adverts/add-advert' %}

	{% partial 'adverts/xvip-record' %}

	{% partial 'adverts/title' %}

	{% partial 'second/to_home' %}

	<div class="adverts-list">
		{% page %}
	</div>

	{% partial 'footer' %}

	<!-- Версия jquery — 3.3.1 -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<!-- Popper.js -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>

	<!-- Bootstrap-4.4.1.js -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>

  <!-- Lightbox Bootstrap js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
	
	<!-- My scripts -->
	<script src="{{ 'assets/js/app.js'|theme }}"></script>

	<!-- OctoberCMS scripts -->
	{% framework extras %}
	{% scripts %}

</body>

</html>