==
<?php
  function onStart()
  {
		$this['canonical_url'] = ((!empty($_SERVER['HTTPS'])) ? 'https' : 'http') . '://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];
		$this['canonical_url'] = explode('?', $this['canonical_url']);
		$this['canonical_url'] = $this['canonical_url'][0];
		$this['canonical_url'] = preg_replace('/\d/', '', $this['canonical_url']);
  }
?>
==
<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>
			{{ record.id ? "ID: #{record.id}" : '' }}
			{{ this.page.title }}


		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="robots" content="noidex"/>
		<meta name="keywords" content="Знакомства Иркутск,Иркутск,доска объявлений,гей знакомства,знакомства для взрослых">

		{% if this.page.meta_description %}
			<meta name="description" content="{{ this.page.meta_description }}">
		{% endif %}

		<!-- Canonitial link -->
		<link
		rel="canonical" href="{{ canonical_url }}">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">

		{% styles %}

		<!-- Bootstrap -->
		<link
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- Lightbox Bootstrap css -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
		<!-- FontAwesome -->
		<link
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<!-- Мои стили -->
		<link
		href="{{ 'assets/css/style.min.css'|theme }}" rel="stylesheet">

		<!-- Favicon для сайта -->
		<link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/x-icon">

	</head>

	<body>

		{% partial 'user-status' %}

		{% partial 'header' %}

		{% if user %}

			{% page %}

		{% else %}
			{% partial 'account/not-registered' %}
		{% endif %}


		{% partial 'footer' %}

		<!-- Версия jquery — 3.3.1 -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<!-- Popper.js -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

		<!-- Bootstrap-4.4.1.js -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<!-- Lightbox Bootstrap js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

		<!-- My scripts -->
		<script src="{{ 'assets/js/app.js'|theme }}"></script>

		<!-- OctoberCMS scripts -->
		{% framework extras %}
		{% scripts %}

	</body>

</html>
