title = "Редактировать объявление"
url = "/edit/:id"
layout = "index"
description = "Редактировать добавленное объявление"
is_hidden = 0

[session]
security = "all"

[builderDetails]
modelClass = "Grekov\AdvertsList\Models\Advert"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Объявление не&nbsp;найдено"

[editAdvert]
basicPrice = 15
vipPrice = 50
xvipPrice = 150
hihglightPrice = 30
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


{% if record and record.author == user.email %}

<div class="advert-edit">
  <h1 class="advert-edit__title">Редактировать объявление</h1>
  <!-- /.advert-edit__title -->
  <p class="advert-edit__desc">Измените текст, категорию и добавьте изображения</p>
  <!-- /.advert-edir__desc -->


  {% component 'editAdvert' %}

  {% if record.state != "on" %}
  {{ form_ajax('onEditActivate', {class: "mt-4"} ) }}
  <input name="id" type="hidden" value="{{ record.id }}">
  <div class="form-group">

    <strong data-toggle="tooltip" data-placement="top" title="Объявление снова вернётся в строй"
      class="advert-edit-state__text">Ваше объявление не активно</strong>
    <button class="btn btn-success btn-sm">Активировать</button>

  </div>
  {{ form_close() }}
  {% endif %}

  <hr class="my-3">

  <button class="btn btn-outline-secondary btn-sm" href="javascript:;" onclick="$('.advert-advance').toggle()">
    Дополнительные функции
  </button>



  <div class="advert-advance" style="display: none">

    <!-- Удалить объявление -->
    {{ form_ajax('onEditDelete', { 'data-request-confirm': "Вы уверены, что хотите удалить объявление?" } ) }}
    <input name="id" type="hidden" value="{{ record.id }}">
    <div class="form-group">
      <span class="advert-edit-state__text" data-toggle="tooltip" data-placement="bottom"
        title="Объявление исчезнет из списка, но не удалится">Удалить объявление</span>
      <button class="btn btn-danger btn-sm">Удалить</button>

    </div>
    {{ form_close() }}


    {% if record.state == "on" %}
    {{ form_ajax('onEditDeactivate', { 'data-request-confirm': "Вы уверены, что хотите деактивировать объявление?" } ) }}
    <input name="id" type="hidden" value="{{ record.id }}">
    <div class="form-group">

      <span class="advert-edit-state__text" data-toggle="tooltip" data-placement="bottom"
        title="Объявление не будет показываться">Снять с&nbsp;публикации</span>
      <button class="btn btn-outline-danger btn-sm">Деактивировать</button>

    </div>
    {{ form_close() }}
    {% endif %}

  </div> <!-- /.advert-advance -->

</div> <!-- /.advert-edit -->

{% elseif not record %}

{% partial '404' error_text = notFoundMessage|raw %}
<!-- 404 Error -->

{% else %}

{% partial '404' error_text = 'Усп… Это&nbsp;не&nbsp;ваше объявление' %}
<!-- Not your Advert… -->

{% endif %}