{% if adverts.hasPages %}
	<ul class="pagination">
		{% if adverts.currentPage > 1 %}
			<li class="pagination__item">
				<a class="pagination__prev" href="{{ adverts.previousPageUrl }}" rel="prev">&larr; Назад</a>
			</li>
		{% endif %}

		{% for page in range(1, adverts.lastPage) %}
			<li class="pagination__item {{ adverts.currentPage == page ? 'active' : null }}">
				<a class="pagination__link" href="{{ adverts.url(page) }}">{{ page }}</a>
			</li>
		{% endfor %}

		{% if adverts.hasMorePages %}
			<li class="pagination__item">
				<a class="pagination__next" href="{{ adverts.nextPageUrl }}" rel="next">Вперёд &rarr;</a>
			</li>
		{% endif %}
	</ul>
{% endif %}
