title = "Объявления: парни ищут девушек"
url = "/categories/on-ona/:page?"
layout = "advert"
description = "Парень ищет девушку"
attr = "on-ona"
is_hidden = 0

[builderList AdvertsList]
modelClass = "Grekov\AdvertsList\Models\Advert"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "Здесь пока нет объявлений. Добавьте его первым"
detailsPage = "-"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
recordsPerPage = 50
pageNumber = "{{ :page }}"
sortColumn = "type"
sortDirection = "desc"

[session]
security = "all"
==
{% set records = AdvertsList.records %}
{% set displayColumn = AdvertsList.displayColumn %}
{% set noRecordsMessage = AdvertsList.noRecordsMessage %}
{% set detailsPage = AdvertsList.detailsPage %}
{% set detailsKeyColumn = AdvertsList.detailsKeyColumn %}
{% set detailsUrlParameter = AdvertsList.detailsUrlParameter %}



<ul class="record-list">
  {% for record in records if record.category == 'on-ona' and record.state == 'on' and record.type != 'xvip' %}
  <li class="{% if record.type == 'vip' %} vip {% elseif record.type == 'basic' %} basic {% endif %}">
    <div id="{{ record.id }}" class="record">
      {% if record.type == 'vip' %}
      <img src="{{ 'assets/images/vip.png'|theme }}" alt="vip" class="id">
      {% endif %}

      <span class="timehead">
        {{ record.created_at|date('d-m-Y H:i') }}
      </span>
      <!-- Когда создано -->

      <div class="record__text">
        {{ record.text|raw }}
      </div>
      <!-- Текст объявления -->

      {% if record.image1 %}
      <div class="advert__imgs-wrap">
        <img class="advert__image" src="{{ record.image1|media }}" alt="Фото1">

        {% if record.image2 %}
        <img class="advert__image" src="{{ record.image2|media }}" alt="Фото2">
        {% endif %}
        {% if record.image3 %}
        <img class="advert__image" src="{{ record.image3|media }}" alt="Фото3">
        {% endif %}

      </div>
      {% endif %}
      <!-- Изображения к объявлению -->

    </div>
    <!-- /.record -->
  </li>
  <!-- /.vip ? /.basic -->


  {% else %}
  <li class="alert alert-danger advert-none">
    <p>{{ noRecordsMessage }}</p>
  </li>
  <!-- /.advert-none -->
  {% endfor %}
</ul>
<!-- /.record-list -->


{% if records.lastPage > 1 %}
<ul class="pagination">
  {% if records.currentPage > 1 %}
  <li class="pagination__item">
    <a class="pagination__prev"
      href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Назад</a>
  </li>
  {% endif %}

  {% for page in 1..records.lastPage %}
  <li class="pagination__item {{ records.currentPage == page ? 'active' : null }}">
    <a class="pagination__link" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
  </li>
  {% endfor %}

  {% if records.lastPage > records.currentPage %}
  <li class="pagination__item">
    <a class="pagination__next"
      href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Вперёд &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
<!-- Пагинация -->