{% if canRegister %}
<h2 class="user-form__title">Регистрация</h2>

{{ form_ajax('onRegister') }}


<fieldset class="form-wrapper">
  <!-- 
  <div class="form-group">
    <label for="registerName">Ваше имя</label>
    <input name="name" type="text" class="form-control" id="registerName" placeholder="Введите ваше имя" />
  </div> -->

  <!-- <div class="form-group">
    <label for="registerUsername">Имя пользователя</label>
    <input name="username" type="text" class="form-control" id="registerUsername"
      placeholder="Введите имя пользователя" />
  </div> -->

  <div class="form-group">
    <label class="form-wrapper__label" data-toggle="tooltip" data-placement="top" title="Её будет нельзя изменить"
      for="registerEmail">
      Почта
      <span>*</span>
    </label>
    <input name="email" type="email" class="form-control" id="registerEmail" placeholder="Введите ваш email">
  </div>

  <div class="form-group">
    <label for="registerPassword">Пароль</label>
    <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Введите пароль">
  </div>

  <div class="form-group">
    <label for="registerPassword_confirmation">Повторите пароль</label>
    <input name="password_confirmation" type="password" class="form-control" id="registerPassword_confirmation"
      placeholder="Повторите пароль">
  </div>

</fieldset>

<button type="submit" class="btn btn-primary btn-user-register">Зарегестрироваться</button>


{{ form_close() }}

{% else %}
<h1 class="text-center">Регистрация невозможна либо отключена администратором.</h1>
{% endif %}