==
<p class="infblock__line infblock_bold">Добавить объявление - отправьте смс сообщение с следующим текстом:</p>
  <p class="infblock__line">
    <span class="infblock_bold">Обычное: </span>
    <span class='bfs15'>vot</span>(пробел)
    <span class="infblock_bold">Текст объявления</span> на номер <span class='bfs15'> 9999 </span>
    <span class='bfs10'>Цена смс (~20р.)</span>
  </p>
  <p class="infblock__line">
    <span class="infblock_bold">VIP:</span>
    <img src="{{ 'assets/images/vip.png'|theme }}" alt='ТОП объявление'>
    <span class='bfs15'>votvip

    </span>
    (пробел)
    <span class="infblock_bold">Текст объявления</span> на номер <span class='bfs15'>9999</span>
    <span class='bfs10'> Цена смс (~85р.)</span> - 1&nbsp;день&nbsp;в&nbsp;ТОПЕ
  </p>